---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
URL is {{ page.url }}
{% if page.url == '/' %}
{% assign pagenumber = 0 %}
{% else %}
{% assign pagenumber = page.url | truncate: 6,"" | remove:'/page' | plus: '0' %}
{% endif %}
This is page {{ pagenumber }}
site.posts_per_page is {{ site.posts_per_page }}
{% assign posts=site.posts | where:"lang", page.lang | where:"type", 'post' %}
{% assign postnumber = 0 %}
{% assign firstpost = pagenumber | times:site.posts_per_page %}
{% assign lastpost = firstpost | plus:site.posts_per_page | minus:'1' %}
Posts starts at {{ firstpost }} and ends at {{ lastpost }}
{% for post in posts %}
{% if postnumber < firstpost %}
{% assign postnumber = postnumber | plus:'1' %}
{% continue %}
{% endif %}
{% if postnumber > lastpost %}
{% unless forloop.last %}
{% assign nextpage = pagenumber | plus:'1' %}
{% endunless %}
{% break %}
{% endif %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        {% if post.title %}
        <!-- title = {{ post.title }} -->
        {% else %}
        <!-- no title -->
        {% endif %}
        <h2 class="post-title">{{ postnumber }} : {{         post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% assign postnumber = postnumber | plus:'1' %}
{% endfor %}
<!--
{% include list.html %}
-->

<!-- Pager -->
<ul class="pager">
    {% if pagenumber > 0 %}
    <li class="previous">
        <a href="{{ pagenumber | minus:'1' | prepend: '/page' | prepend: site.baseurl }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if nextpage %}
    <li class="next">
        <a href="{{ nextpage | prepend: '/page' | prepend: site.basurl }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
		</div>
	</div>
</div>

<hr>

</html>
